<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_trisula"
        android:label="TIASA"
        android:roundIcon="@drawable/logo_trisula"
        android:supportsRtl="true"
        android:theme="@style/Theme.TIASA"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Splash Screen (Launcher Activity) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.TIASA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" /> <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- Forgot Password Activity -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" /> <!-- Dashboard Activity -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".SuratPerintahActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".QCActivity"
            android:exported="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>
        <activity
            android:name=".LaporanQCActivity"/>
        <activity
            android:name=".DetailLaporanQCActivity"/>
        <activity
            android:name=".MonitoringQC"/>
        <activity
            android:name=".ProduksiActivity"/>
        <activity
            android:name=".InputProduksiActivity"/>
        <activity
            android:name=".HasilProduksiActivity"/>
        <activity
            android:name=".LaporanProduksiActivity"
            android:exported="false" />
        <activity
            android:name=".DetailProduksiActivity"
            android:exported="false"/>

    </application>


</manifest>